$primary-color: #02CA98;
$sec-color: #2583DB;
$date-color: #686868;
$white-color: #fff;
$font-color: #13121C;
$header-shadow: #00000012;
$sep-border: #707070;
$account-bg: #B1E5D8;
$black-color: #000;
$body-bg: #FAFAFA;
$red-color: #F44336;
$info-bg: #CCD6F8;
$info-color: #3E80EB;
$survey-border: #E8E8E8;
$survey-shadow: #00000003;
$warning-color: #FFAB00;
$danger-color: #EF4B4B;
$gray-color: #bababa;
$disabled-color: #eeeeee;
$font-size: 1rem;


/*alerts colors*/
$danger-color: #EF4B4B;
$danger-bg: #FAC8C8;
$info-color: #3E80EB;
$info-bg: #CCD6F8;
$warning-color: #FFAB00;
$warning-bg: #FEE8BB;
$success-color:#38CB89;
$success-bg: #CBF6E2;
$dark-alert:#1B1E21;
$dark-bg: #D6D8D9;
/*UI components*/
/*icons*/
$small-icon: 20px;
$medium-icon: 24px;
$large-icon: 28px;
/*dialogs*/
$small-dialog:40vw;
$medium-dialog:60vw;
$large-dialog:80vw;
$xsmall-dialog:25vw;
/*Buttons*/
$stroked-hover:#E9E9F4;
$stroked-focus:#CFCDDF;
$link-color: #2583DB;
$link-color-hover:#2073B7;
$link-color-focus: #0D2740;
$toggle-background: #B1E5D8;
$toggle-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;

$shadow-style: 0 0 6px #0000001a;


$black-transparent: #0000009e;
$arrow-shadow-color: #0000001f;
/*Headings Font*/
$h1-size: 40px;
$h2-size: 32px;
$h3-size: 28px;
$h4-size: 24px;
$h5-size: 18px;
$h6-size: 16px;

/*secondary colors*/
$blue-color: #2583DB;
$blue-color-hover:#EBF5FF;
$orange-color: #FF682C;
$light-orange: #FFD9CB;

/*Other*/
$sec-color-transparent: #f0f0f1;

/*alerts colors with transparency*/
$danger-color-transparent: #EF4B4B20;
$info-color-transparent: #3E80EB20;
$warning-color-transparent: #FFAB0020;
$success-color-transparent:#38CB8920;
$dark-alert-transparent:#1B1E2120;
$orange-color-transparent: #FF682C20;