<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 px-0 mb-4 mt-2">
            <h2 class="m-0">{{'body.Survey' | translate}}:</h2>
            <span class="material-icons mb-2 text-center">info</span>
            <p class="m-0 text-center">{{'body.Delete' | translate}}?</p>
        </div>
        <div class="col-md-12 text-center px-0 mt-4">
            <span (click)="onNoClick()" class="mx-2">{{'body.NoThanks' | translate}}</span>
            <button (click)="onNoClick()" class="btn">{{'body.OK' | translate}}</button>
        </div>
    </div>
  </div>