<section>
    <div class="container-fluid">
        <div class="row">
            <div *ngIf="close" class="col-md-12 px-0 info">
                <span class="material-icons position-relative">info</span>
                {{'body.info' | translate}}
                <span class="material-icons info__close" title="close" (click)="closeInfo()">close</span>
            </div>
            <div class="col-md-12 text-end mt-2">
                <div class="sort">
                    <span  (click)='listView = true' [ngClass]="{'active': listView == true }" class="material-icons">view_list</span>
                    <span  (click)='listView = false' [ngClass]="{'active': listView == false }" class="material-icons" >view_module</span>
                  </div>
            </div>
            <app-grid-view [hidden]="listView == true"></app-grid-view>
            <app-table-view [hidden]="listView == false"></app-table-view>
        </div>
    </div>
</section>